h1{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

button{
  cursor: pointer;
}

.input{
  margin-left: 525px;
}

.output{
  margin-left: 400px;
}

.box{
  display: inline;
  text-align: center;
}

.counter{
  display: inline;
  color: blue;
}

.footer{
  text-align: center;
  position: fixed;
  bottom: 0;
}
