h1{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

button{
  cursor: pointer;
}

.input{
  margin-left: 525px;
}

.inputAnimation{
  margin-left: 100px;
  display:inline-block;
}

.outputAnimation{
  position:fixed;
  display:inline-block;
  margin-left: 500px;
  width: 400px;
}

.output{
  margin-left: 400px;
}

.box{
  display: inline;
  text-align: center;
}

.counter{
  display: inline;
  color: blue;
}

.footer{
  text-align: center;
  position: fixed;
  bottom: 0;
}

canvas {
  position:fixed;
  background: #eee;
  padding: 0;
  margin: auto;
  display: inline-block;}
